/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bulma.min.css';

 /* 
 Colors:
 #FFE8D2
 #9E5E38
 #9b4f52
 #854B67
 #644C70
 #434C69
 #2F4858
 #00C9AA
 #C4FCF0
 #A05098
 #6065C0
 #FF8B41
 */


 body { margin: 0; font-family: Helvetica, Arial, Sans-Serif;}

 .container {
  display: grid;
  grid-template-columns: 110px 250px auto;
  grid-template-rows: 100vh;
  grid-template-areas:
    "System Display Main";
}

.system {
  grid-area: System;
  background: #434C69;
  color: white
}

.display-nav {
  grid-area: Display;
  background: #8E93A5;
;
}

.main {
  grid-area: Main;
  background: white;
  margin: 25px;
}

.system-container {
  margin: auto;
  padding: 0px 10px;
  height: 100%;
}
.system-nav {
  list-style: none;
  margin: 0 auto;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.system-nav-item {
  text-align: center;
  margin: 20px auto;
  color: white;
}

.system-nav-label {
  font-size: 18px
}

.selected {
  color: #FF8B41;
}

.desc_box {
  height:350px;
  overflow:auto;
}

.edit-style {
  position: fixed;
  right: 10px;
  top: 10px;
}